ul {
  list-style: none;
}
img {
  width: 50px;
  height: 50px;
}
li {
  display: flex;
  gap: 25px;
}
.row {
  width: 100%;
  display: flex;
  float: left;
}
.col-1 {
  width: 60%;
  padding-inline: 60px;
  color: white;
}
.col-2 {
  display: flex;
  align-items: center;
  width: 40%;
}
.unorderedList {
  margin-left: -43px;
}
@media screen and (max-width: 900px) {
  body {
    background-color: black;
    background-repeat: no-repeat;
  }
  .row {
    display: grid;
    text-align: center;
  }
}
