body {
  background: url("../src/images/bg.png");
}
.navBar {
  width: 100%;
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
}
.homePage {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
}

@media screen and (max-width: 900px) {
  .homePage {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
  }
}
